* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100vh;
  padding: 7% 20%;
}
.content {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 247, 23);
  padding: 15px;
  display: flex;
  gap: 15px;
}
.fullbox1 {
  width: 35%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 31% 23% 14% 23%;
  gap: 15px;
}
.fullbox2 {
  width: 65%;
  height: 100%;
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  grid-template-rows: 24.5% 5% 21.4% 14%;
  gap: 15px;
}
.box1 {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 200, 255);
}
.fullbox1 .first {
  grid-column: 1 / 4;
  grid-row: 1/2;
}
.fullbox1 .second {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
.fullbox1 .third {
  grid-column: 2 / 4;
  grid-row: 4/ 5;
}
.fullbox2 .first {
  grid-column: 2 / 3;
  grid-row: 1/ 3;
}
.fullbox2 .second {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.fullbox2 .third {
  grid-row: 4 / 7;
  grid-column: 2 / 3;
}
